/* MAIN */

main {
    background-color: rgba(245, 245, 245, 1);
    min-height: calc(100% - 106px);
    padding-top: 0;
}

/* LISTA CONTEUDO */

.detalhe-conteudo.container {
    align-items: flex-start;
    justify-content: left;
    padding: 16px 0;
}

/* PAINEL USUARIO */

.painel-empresa {
    background-color: white;
    margin-left: 16px;
    width: 300px;
}

.painel-empresa .foto-container {
    display: flex;
    height: 90px;
    justify-content: center;
}

.painel-empresa .foto-container .cover {
    background-image: linear-gradient(to right, rgba(86,200,195,0.3), rgba(104,225,142, 0.3));
    position: absolute;
    height: 50px;
    width: 255px;
    z-index: 0;;
}

.painel-empresa .foto-container img {
    
    margin-top: 16px;
    max-height: 66px;
    max-width: 66px;
    z-index: 1;
}

.painel-empresa .nome,
.painel-empresa .cargo {
    display: block;
    text-align: center;
}

.painel-empresa .nome {
    font-size: 16pt;
    font-weight: bold;
    text-transform: uppercase;
}

.painel-empresa .cargo {
    font-size: 10pt;
}

.painel-empresa .bio {
    padding: 0 8px 8px 8px;
    font-size: 10pt;
}

/* LISTA RESULTADO */

.detalhe-container {
    background-color: white;
    width: calc(100% - 200px);
    overflow-y: auto;
    padding: 8px;
}

/* VAGA */

.detalhe-container .nome {
    font-size: 24pt;
}

.detalhe-container article,
.detalhe-container span {
    display: block;
    font-size: 10pt;
}

.detalhe-container .cidade {

    float: right;
}

.detalhe-container .salario {    
    font-weight: bold;
}

.detalhe-container .descricao {
    margin-top: 8px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow-x: hidden;
}

.detalhe-container .aplicar {
    float: right;
    color: #E63C70;
}

.detalhe-container .salario,
.detalhe-container .aplicar {
    font-size: 18pt;
}