<!-- ALINE - postar depoimentos -->
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MULHERADA</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
        <link rel="stylesheet" href="./css/main.css">
        <link rel="stylesheet" href="css/depoimento.css">
    </head>
    
    <body>
        <!--Esse container-body deixa todo a página centralizada com margem igual -->
        <!-- <div class="container-body"></div> -->
       <!-- HEADER FIXO -->
        <header>
            <div class="container">
                <div>
                    <img src="./img/icone1.png    " />
                    <span>MULHERADA</span>
                </div>
                <nav>
                    <a href="index.html">Home</a>
                    <a href="sobrenos.html">Sobre nós</a>
                    <a href="vagas.html">Vagas</a>
                    <a href="usuario.html">Cadastre-se</a>
                    <a href="usuario.html">Login</a>
                    <a href="curriculo.html">Currículo</a>
                <a href="faleconosco.html">fale Conosco</a>
                    
                    
                </nav>
            </div>
        </header>

        <h1>Depoimentos</h1>

        <div class="depoimento">
            <p>Nome completo:</p>
            <input type="nome">
            <p>Digite seu e-mail:</p>
            <input type="email">
            <p>Deixe seu depoimento:</p>
            <textarea> </textarea>
            <button>Enviar </button> 
        
        </div>
        <footer class="centralizado">
                <div class="container">
                    <div class="img-footer">
                        <img src="./img/facebook (1).svg" alt="facebook" srcset="">
                        <img src="./img/instagram (1).svg" alt="instagran" srcset="">
                        <img src="./img/twitter.svg" alt="twitter" srcset="">
                        <img src="./img/whatsapp.svg" alt="whatsapp" srcset="">
                    </div>
                    <ul>
                        <li><a class="email-index" href="mailto:priscilauchoaa@gmail.com" target="_top">CONTATO</a></li>
                        <li>SOBRE</li>
                        <li>Copyright ©</li>
                    </ul>
                </div>
            </footer>
       </body>