{% load static %}

        <!-- FOOTER FIXO-->
        <footer class="centralizado">
            <div class="container">
                <div class="img-footer">
                    <img src="{% static "img/facebook (1).svg" %}" alt="facebook" srcset="">
                    <img src="{% static "img/instagram (1).svg" %}" alt="instagran" srcset="">
                    <img src="{% static "img/twitter.svg" %}" alt="twitter" srcset="">
                    <img src="{% static "img/whatsapp.svg" %}" alt="whatsapp" srcset="">
                </div>
                <ul>
                    <li><a class="email-index" href="mailto:priscilauchoaa@gmail.com" target="_top">CONTATO</a></li>
                    <li>SOBRE</li>
                    <li>Copyright ©</li>
                </ul>
            </div>
        </footer>
</html>