{% load static %}<!DOCTYPE html>
        <header>
            <div class="container">
                <div>
                    <img src="{% static "img/ww_white.png" %}" />
                    <span class="mulherada-logo">MULHERADA</span>
                </div>
                <nav>
                    <a href="/">Home</a>
                    <a href="/sobrenos">Sobre nós</a>
                    <a href="/cadastro">Cadastre-se</a>
                    <a href="/login">Login</a>
                </nav>
            </div>
        </header>
