<!DOCTYPE html>
{% load static %}<!DOCTYPE html>
{% include "head.html" %}
<link rel="stylesheet" href="{% static "css/sobrenos.css" %}">
{% include "body.html" %}
{% include "header.html" %}

        <!-- MAIN -->
        <main>  
            <section class="main-sobre centralizado">
                <div class="sobre container borda-padrao">
                    <div class="detalhes">
                        <h1>Nenhuma vaga encontrada!</h1>
                        <a class="button" href="/">Voltar</a> 
                        <br><br>
                    </div>
                </div>
            </section>
        </main>

{% include "footer.html" %}