<!DOCTYPE html>
{% load static %}<!DOCTYPE html>
{% include "head.html" %}
<link rel="stylesheet" href="{% static "css/sobrenos.css" %}">
{% include "body.html" %}
{% include "header.html" %}

        <!-- MAIN -->
        <main>  
            <section class="main-sobre centralizado">
                <div class="sobre container borda-padrao">
                    <div class="detalhes">
                        <span class="titulo">Sobre nós</span>
                        <article class="descricao">
                            "Mulherada" é uma plataforma web que foi desenvolvida pensando em nós mulheres, com o intuito de ajudar a se recolocarem no mercado quando são desligadas de outras empresas ou após a gravidez, pois é muito comum que elas encontrem dificuldades de recolocação depois desse período. Essa plataforma foi criada em 2019 por mulheres logo após participarem de um curso de programação web. E elas mostraram que a Mulherada pode fazer qualquer coisa, basta ter vontade e persistência.
                        </p> 
                    </div>
                    <img src="{% static "img/sobrenos.jpeg" %}" alt="" srcset=""/>
                </div>
            </section>
        </main>

{% include "footer.html" %}